@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Times New Roman", Helvetica, sans-serif;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Bebas Neue";
}

h3 {
  text-align: center;
}

#a-cuca {
  color: #113d24;
}
#a-icd {
  color: #750000;
}

.gravity-ui--arrow-shape-right {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M7.5 10v2.67a.33.33 0 0 0 .542.252l5.225-4.421a.656.656 0 0 0 0-1.002L8.042 3.078a.33.33 0 0 0-.543.252V6H3a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5zM3 11.5a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3V3.33a1.83 1.83 0 0 1 3.01-1.397l5.226 4.421a2.156 2.156 0 0 1 0 3.292L9.01 14.067a1.83 1.83 0 0 1-3.012-1.397V11.5z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.gravity-ui--arrow-shape-left {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M8.5 6V3.33a.33.33 0 0 0-.543-.252L2.732 7.499a.656.656 0 0 0 0 1.002l5.225 4.421a.33.33 0 0 0 .543-.252V10H13a.5.5 0 0 0 .5-.5v-3A.5.5 0 0 0 13 6zM13 4.5a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3v1.17a1.83 1.83 0 0 1-3.012 1.397L1.763 9.646a2.156 2.156 0 0 1 0-3.292l5.225-4.421A1.83 1.83 0 0 1 10 3.33V4.5z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
}

.image-container {
  display: absolute;
  transition: transform 0.2s;
}
.main-image-container {
  display: block;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 16px;
}

.image-container:hover {
  transform: scale(1.05);
}

.container {
  display: flow-root;
  background-color: #b2b2b2;
  border-radius: 16px;
  padding: 12px;
}

.container:hover {
  background-color: #bebebe;
}

.container p {
  text-align: center;
  font-size: large;
  color: #000000;
}
.container h3 {
  text-align: center;
  padding: 10px;
}
.gravity-ui--envelope {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M3.5 4h9c.25 0 .485.06.692.169L8.75 7.5a1.25 1.25 0 0 1-1.5 0L2.808 4.169C3.015 4.06 3.251 4 3.5 4M2.001 5.438L2 5.5v5A1.5 1.5 0 0 0 3.5 12h9a1.5 1.5 0 0 0 1.5-1.5v-5l-.001-.062L9.65 8.7a2.75 2.75 0 0 1-3.3 0zM.5 5.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v5a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.heading {
  background-color: #b2b2b2;
  border-style: inset;
  border-color: #bebebe;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f1524;
    color: #ffffff;
  }
  .container {
    background-color: #1f2a48;
  }
  .container p {
    color: #ffffff;
  }
  .container:hover {
    background-color: #2f3a58;
  }
  a {
    color: #ffffff;
  }
  #a-icd {
    color: #ffb2b2;
  }
  #a-cuca {
    color: #44cc80;
  }

  .heading {
    background-color: #4c6ab2;
    border-color: #1a4173;
  }
}
